<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit</title>
</head>
<body>
<form th:method="PATCH" th:action="@{/admin/{id}(id=${editUser.getId()})}" th:object="${editUser}">

    <br><br>
    <label for="name">Enter Name:</label>
    <input type="text" th:field="*{name}" id="name"/>
    <br><br>
    <label for="userName">Enter UserName:</label>
    <input type="text" th:field="*{department}" id="userName"/>
    <br><br>
    <label for="email">Enter Email:</label>
    <input type="text" th:field="*{email}" id="email"/>
    <br><br>
    <label for="password">Enter Password:</label>
    <input type="text" th:field="*{password}" id="password"/>
    <br><br>
    <p>
        <label>Roles:
            <input type="checkbox" name="roleList"
                   th:each="roles : ${roleList}"
                   th:text="${roles.name}"
                   th:value="${roles.getName()}"
                   th:field="*{roles}"/>
        </label>
    </p>

    <input type="submit" value="Изменить"/>
</form>

</form>
</body>
</html>